<link rel='stylesheet' href='/stylesheets/footer.css'/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">A fullstack MovieVault that displays various information about movies</p>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="/">Home</a></li>
          <li><a href="personal/contact">Contact me</a></li>
          <li>
            <a href="http://scanfcode.com/contribute-at-scanfcode/"
              >Contribute</a
            >
          </li>
          <li>
            <a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a>
          </li>
          <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
        </ul>
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p class="text-justify">All content on this page is my own intellectual property</p>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
            <li><a class="linkedin" href="https://www.linkedin.com/in/kristian-s%C3%A6tre-b2713a223/"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="github" href="https://github.com/Kristian1s"> <i class="fa fa-github" aria-hidden="true"></i> </a></li>
            
        </ul>
    </div>
    </div>
  </div>
</footer>
