<nav id="navbar" class="navbar navbar-expand-lg py-3 navbar-dark bg-dark position-fixed w-100 fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand " href="/" style="font-size: 30px;">Movie Database</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/top100">Top 100</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/genre">Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doc/#/">Movie of the day</a>
                </li>

                  
                
            </ul>
        </div>
    </div>
</nav>