<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    
        <%- include('./partials/navbar.ejs')%>
        <div class="wrapper">
          <div class="middle">
            <div class="description">
              <h2>Genres</h2>
              <br>
            </div>
            <div>
              <%Genres.forEach(function(genre){%>
                <h4><%=genre.Name%></h4>
             <% })%>
            </div>
        
          
          </div>
        </div>
  </body>
  </html>