<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="data2">Data goes here</div>
    <% if (movies && movies.length) { %>
      <% movies.forEach(function(movie) { %>
        <% if (movie && movie.title) { %>
          <h2><%= movie.title %></h2>
        <% } else { %>
          <h2>Movie Title Not Available</h2>
        <% } %>
      <% }); %>
    <% } else { %>
      <h2>No movies available</h2>
    <% } %>
  </body>
  </html>