body, h1, h2, h3, h4, h5, h6, a {
  font-family: 'Roboto', sans-serif;
}

:root{
  --light: #57C5B6;
  --medium-might: #bee6e5;
  --medium-dark: #1A5F7A;
  --dark: #1A5F7A;
  --border-circle: 20px;
}

#app {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  
  #left {
    width: 25%;
    background-color: var(--dark);
    display: flex;
    align-items: center;
   padding-left: 15px;
   padding-top: 10px

  }

  #leftContent{
    height:100%;
    width: 100%;
    overflow-y: auto;

  }
  #middle {
    padding-top: 20px;
    width: 45%;
    background-color: var(--dark);
    padding-left: 16px;
  }
  
  #middleTop {
    padding-top:10px;
    height: 64%;
    background-color:var( --light);
    border-radius: 20px;
    text-align: center;
    margin: 4px 4px 4px 4px;
  }
  #middleTop h3 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif !important;
  }

  #middleTop h2{
    text-decoration: underline;
    color: #212529;
  }
  #right {
    width: 30%;
    background-color: var(--dark);
    padding-top: 23px;
    margin-right: 11px;
  }
  
  #rightTop{
    height: 35%;
    background-color:var(--medium-might);
    border-radius: 20px;
    text-align: center;
    padding:40px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right:27px;
    margin-left: 18px;
  }
  #rightTop p{
    font-size: 1.3rem;
    line-height: 34px;
  }
  #welcomeText{
    padding-top:20px;
    background-color: #a6d3d3;
    border-radius: 20px;
    margin-top: 40px;
    height: 50%;
  }
  #rightBot{
    padding-top: 40px;
    text-align: center;
    align-items: center;
    height: 63.4%;
    background-color:var(--medium-might);
    border-radius: 20px;
    margin-right:27px;
    margin-left: 18px;
    margin-top: 20px;
  }
  .avatarimg{
    border-radius: 100%;
  }
  #rightBot h3{
    padding-top: 10px;
    color: whitesmoke;
    text-align: center;
    padding-top: 10px;
  }
  #infoWrapper {
    border-radius: var(--border-circle);
    background-color: var(--medium-might);
    margin: 24px 4px 4px 4px;
    height: 445px;
  }
.featuredPlot{
  display: inline-block;
  border-style: solid;
  max-width: 500px;
}

  #infoWrapper h3{
    color: whitesmoke;
    text-align: center;
    padding-top: 10px;
  }
.reviewtext{
  text-align: center;
  width: 100%;
}
 
  #info{
    height: 40%;
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .infoItem:hover{
    box-shadow: 6px 6px 6px 0 var(--light);
  }
  .infoItem{
    box-shadow: 2px 2px 2px 0 var(--light);
    transition: box-shadow ease-in-out 200ms;
    border-radius: var(--border-circle);
    background-color: var(--light);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    max-width:270px; ;
    max-height: 380px;
  }
  .infoItem p {
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display an ellipsis (...) for the overflow */
  }
  .infoItem img {
    border-radius: 100%;
  }
  
  
  .card {
    display: flex;
    flex-direction: inherit !important;
    margin: 20px 5px 10px 5px;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 2px 4px 2px 2px var(--medium-might);
    text-align: end;
    background-color: var(--light) !important;
  }
  
  .card img {
    object-fit: contain;
    width: 100px;
    height: 100%;
    margin-right: 10px;
  }
  
  .card .title {
    color: var(--dark);
    display:flex;
    align-items: center;
    font-weight: bold;
    margin-right: 10px;
    margin: 0 auto 0 4px;
    text-align: left;
    font-size: 1rem;
  }
  
  .card .rating {
    display: flex;
    align-items: center;
    font-size: x-large;
    color: var(--medium-dark);
    font-weight: 900;
    margin: 0;
    padding: 0 20px;
    font-size: 2rem;
  }

  #rating{
	flex-direction: row;
  }
