.navbar{
    background-color: #002B5B;
    box-shadow: 2.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.38);
}
.navbar-brand
{
    position: relative;
    width: 170px;
    left: 15px;
    max-height: 70px; /* height of the navbar */
    text-decoration: none;
    color: #e24dcc;
    font-size:xx-large;
}



.navbar-nav .nav-link {
  font-size: 24px;
  text-decoration: none;
  color: #e24dcc;
}