body {
  padding: 0px;
  padding-top: 5.6rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #159895;
}

.middle {
 
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;


}
.middleContent{
  padding-top: 20px;
  background-color: #ffffff;
text-align: center;
  max-width: 30%;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}
.topRatedWrapper {
  background: linear-gradient(to bottom,#1A5F7A ,  #159895);
}
.wrapperMovie{
  height:100vh;
  background: linear-gradient(to bottom, #1A5F7A, #159895);
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.content {
  background-color: #57C5B6 ;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.table {
  margin-bottom: 20px;
}



.header::before {
  content: "";
  position: absolute;
  top: 3rem;
  left: -50px;
  right: -50px;
  bottom: 0;
  background-image: url("../images/headerImage.png");
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(3px);
}

.header-text {
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  color: yellow; 
  font-size: 100px; 
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}


.info {
  flex: 1;
  background-color: #ffffff;
  height: 28rem;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.contentMovie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
}


.posterMovie {
  float: left;
  margin-right: 20px;
  max-height: 100%;
}

.wrapperProfileForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: none;

  background-color: #ffffff;
  height: 600px;
  width: 500px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 8px rgba(0, 0, 0, 0.15);
  
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

body.modal-open {
  overflow: hidden;
}
.wrapperContent{
  padding: 10px;
}

.leftContent{
  background-color: #ffffff;
  float: left;
  align-items: center;
  height: 600px;
  width: 30%;
  box-shadow: 4px 4px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.contentWrapper{
  text-align: center;
}

.leftContent h3{
  width: 100%;
  background-color: rgb(153, 153, 153);
  height: 40px;
  position:static;
  text-align: center;
  box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  
}
.wrapperLeftProfile{
  width: 100%;
  padding-left: 1rem;
  padding-top: 8rem;
}

.userProfile {
  background-color: #ffffff;
  border-radius: 5px;
  height: 50%;
  align-items: center;
}



.userProfile p {
  font-size: 16px;
  color: #333;
}

.leftContent #toggleProfileBtn{
  position: relative;
  bottom: -200px;
}

.leftContent #deleteProfile{
  position: relative;
  bottom: -210px;
  padding-left: 9px;
  padding-right: 9px;
}
.userProfile strong {
  font-weight: bold;
  color: #555;
}

.titleText{
  background-color: #555;
  height: 2rem;
  width: 100%;

}


.rightContent{
  background-color: #ffffff;
  float: right;
  align-items: center;
  height: 600px;
  width: 30%;
  box-shadow: 4px 4px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.rightContent h3{
  width: 100%;
  background-color: rgb(153, 153, 153);
  height: 40px;
  position:static;
  text-align: center;
  box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  
}
.watchlistCard {
  margin-bottom: 10px;
  padding-left: 10px;
}



.watchlistItem img {
  margin-right: 10px;
  border-style:ridge;
  box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.15);
}

.watchlistContainer {
  max-height: 540px; /* Adjust the height as needed */
  overflow-y: auto;
}

.watchlistCard {
  margin-bottom: 10px;
}

.watchlistItem {
  display: flex;
  align-items: center;
}



.link{
  text-decoration: underline;
  color:  #212529;;
}

 .reviewWrapper {
  background-color: #ffffff;
  height: 17rem;
  display: flex;
  
}
.genres{
  color: #212529;
  background-color: #ffffff;
  padding-top: 20px;
  overflow-y: auto;
  max-height: 900px;
}
a h5{
  color: #212529;
  background-color: transparent;
  text-decoration: underline;
}

a p{
  color: #212529;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  
  background-color: transparent;
  text-decoration: underline;
}
/*
.reviewNode {
  flex: 1;
  margin: 0 10px;
  background-color: lightgray;
} */


/* .movieReview button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.reviewName{
  padding-left: 10px;
  padding-bottom: 0px;
}

.leaveReview{
  text-align: left ;
} */