body {
  padding: 0px;
  padding-top: 5.2rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #159895;
}

.middle {
 
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;


}
.topRatedWrapper {
  background: linear-gradient(to bottom,#1A5F7A ,  #159895);
}
.wrapperMovie{
  height:100vh;
  background: linear-gradient(to bottom, #1A5F7A, #159895);
}
.content {
  background-color: #57C5B6 ;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.table {
  margin-bottom: 20px;
}



.header::before {
  content: "";
  position: absolute;
  top: 3rem;
  left: -50px;
  right: -50px;
  bottom: 0;
  background-image: url("../images/headerImage.png");
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(3px);
}

.header-text {
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  color: yellow; 
  font-size: 100px; 
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}


.info {
  flex: 1;
  background-color: #ffffff;
  height: 28rem;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.contentMovie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
}


.posterMovie {
  float: left;
  margin-right: 20px;
  max-height: 100%;
}